<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="GeminiApiKey" value="AIzaSyBX21Iocz0xdVOfwD9GulTsmZI9aLJa5XM" />
	</appSettings>

	<connectionStrings>
		<!-- TODO: Thay đổi connection string theo database thực tế -->
		<add name="ToDoAppDB" connectionString="Data Source=duc;Initial Catalog=ToDoApp;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
